body {
    margin: 0;
    padding: 0;
    background-image: url('football-background-image.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    position: relative;
}

.main-content {
    margin-left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.content-container {
    position: relative;
    z-index: 2;
}
.header {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tab {
    background-color: #d3d3d3;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
}
.tab.active {
    background-color: white;
}
.content {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: calc(100vh - 200px); /* adjust this value to match the height of the header and tabs */
    overflow-y: auto;
}

.content-container::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100%); /* adjust this value to match the height of the tabs */
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filter div {
    display: flex;
    align-items: center;
}
.filter input, .filter select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filter i {
    margin-left: 10px;
    cursor: pointer;
}
.claim {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.rr-container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: calc(100vh - 200px); /* adjust this value to match the height of the header and tabs */
    overflow-y: auto;
}

.rr-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rr-tab {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.rr-tab.active {
    background-color: #ccc;
}

.rr-form-group {
    margin-bottom: 15px;
    text-align: left;
}

.rr-form-group label {
    display: block;
    margin-bottom: 5px;
}

.rr-form-group select, .rr-form-group textarea, .rr-form-group input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rr-form-group textarea {
    height: 150px;
}

.rr-form-group input[type="text"] {
    margin-bottom: 5px;
}

.rr-submit-btn {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}