.sidebar {
    height: 100vh;
    width: 50px;
    background-color: #000;
    border: 2px solid #00FF00;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    transition: width 0.5s;
    position: relative;
}

.sidebar.open {
    width: 200px;
}

.sidebar-content {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.sidebar-content.open {
    opacity: 1;
    pointer-events: all;
}

.sidebar-content a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    margin: 5px 0;
    text-decoration: none;
    border: 2px solid #00FF00;
}

.sidebar-content .club-logo {
    height: 150px;
    width: 150px;
    background-image: url('Logo\ Sample.png');
    background-size: cover;
    margin: 20px auto 0;
}

.sidebar-content a:hover {
    background-color: #333;
}

.sidebar .logo {
    height: 50px;
    width: 50px;
    background-image: url('Sidebar\ Icon.png');
    background-size: cover;
    margin: 0 auto 20px;
    cursor: pointer;
}

.sidebar .logo i {
    font-size: 24px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}